.container {
  display: block;
  width: 343px;
  height: 555px;
  margin-bottom: 44px;
}

.photo_container {
  position: relative;
  display: block;
  width: 279px;
  height: 268px;
  margin: 0px auto 32px;
  background-color: var(--accent-color-darker);
  border-radius: 8px;
  cursor: pointer;
}

.photo_input {
  visibility: hidden;
}

.photo_input:focus,
.photo_input:hover {
  border: none;
}

.icon {
  background-color: var(--accent-color-darker);
  fill: var(--accent-color-darker);
  stroke: var(--text-color-lighter);
  width: 64px;
  height: 64px;
  cursor: pointer;
}

.icon_container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}

.labels_container {
  margin-top: 32px;
  width: 343px;
}

.recipe_input {
  background-color: var(--main-color-light);
  border: none;
  border-bottom: 1px solid #e0e0e0;
  color: var(--add-recipe-input);
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  margin-bottom: 24px;
  padding-bottom: 19px;
  width: 100%;
}

.recipe_input:focus,
.recipe_input:hover {
  outline: none;
}

.label {
  display: block;
  width: 343px;
}

.label {
  border-bottom: 1px solid #e0e0e0;
  color: var(--add-recipe-input);
  display: flex;
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  padding-bottom: 19px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}

.label_container {
  position: relative;
}

.select_box:focus,
.select_box:hover {
  outline: none;
}

.select_box {
  background-color: transparent;
  border: none;
  text-align: center;
  color: var(--add-recipe-input);
  cursor: pointer;
  font-size: 12px;
  font-weight: 400;
  padding-block: 4px;
  width: 85px;
}
.select_box option {
  background-color: var(--add-recipe-select-option-bg);
}

.select_box::-webkit-scrollbar {
  width: 5px;
  background-color: #cccccc;
}

.label_container:after {
  content: ">";
  font: 17px "Consolas", monospace;
  color: var(--accent-color-darker);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  right: 10px;
  top: 2px;
  position: absolute;
  pointer-events: none;
}

.select_box {
  appearance: none;
}

@media screen and (min-width: 768px) {
  .container {
    display: flex;
    justify-content: space-between;
    width: 704px;
    height: 268px;
    margin-bottom: 100px;
  }

  .photo_container {
    margin: 0;
  }

  .labels_container {
    margin-top: 0;
    width: 393px;
  }

  .recipe_input {
    font-size: 16px;
    margin-bottom: 32px;
  }

  .label {
    width: 393px;
  }

  .label {
    font-size: 16px;
    margin-bottom: 32px;
  }

  .select_box {
    font-size: 14px;
    /* width: 94px; */
  }
}

@media screen and (min-width: 1440px) {
  .container {
    width: 800px;
    height: 344px;
  }

  .photo_container {
    width: 357px;
    height: 344px;
    margin: 0p;
  }

  .recipe_input {
    margin-bottom: 40px;
  }

  .label {
    margin-bottom: 40px;
  }
}
