.container {
  background-color: var(--main-color-light);
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 295px;
  max-height: 53px;
  border-top: 1px solid var(--text-color-darker);
  border-bottom: 1px solid var(--text-color-darker);
  border-left: 1px solid var(--text-color-darker);
  border-radius: 35px 5em 50%;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 42px;
}

.input {
  background-color: var(--main-color-ligh);
  border: 0;
  color: var(--subtitle-color);
  flex: 1;
  font-size: 12px;
  height: 53px;
  line-height: 1.7;
  padding: 3px 10px 3px 32.5px;
  width: 117px;
}

.input::placeholder {
  opacity: 1;
  color: var(--subtitle-color);
}

.input:focus,
.input:hover {
  outline: none;
}

.button:focus,
.button:hover {
  background-color: var(--main-color-dark);
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .button {
    line-height: 1.5;
    width: 161px;
  }

  .container {
    width: 100%;
    max-width: 362px;
    max-height: 57px;
  }

  .form {
    margin-top: 36px;
  }

  .input {
    font-size: 14px;
    width: 135px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    width: 100%;
    max-width: 510px;
    max-height: 70px;
  }

  .form {
    margin-top: 42px;
  }

  .input {
    font-size: 16px;
    width: 240px;
  }
}
