.button {
  background-color: var(--accent-color-darker);
  border: 0;
  color: var(--text-color-lighter);
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  font-size: 16px;
  line-height: 1.3;
  width: 113px;
  border-radius: 35px 5em 50%;
  padding: 16px 31.7px;
}

.container {
  background-color: var(--background-color-lighter);
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 295px;
  max-height: 53px;
  border-top: 1px solid var(--text-color-darker);
  border-bottom: 1px solid var(--text-color-darker);
  border-left: 1px solid var(--text-color-darker);
  border-radius: 35px 5em 50%;
  padding-left: 32.5px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 42px;
}

.input {
  background-color: var(--background-color-lighter);
  border: 0;
  border-radius: 24% 44%;
  box-sizing: border-box;
  color: var(--subtitle-color);
  padding: 3px 10px;
  font-size: 12px;
  line-height: 1.7;
  width: 117px;
}

.input::placeholder {
  opacity: 1;
  color: var(--subtitle-color);
}

.input:focus,
.iput:hover {
  outline: none;
}

.button:focus,
.button:hover {
  background-color: var(--main-color-dark);
  cursor: pointer;
}
