.title {
  color: var(--section-title-color);
  font-size: 28px;
  font-weight: 600;
  font-feature-settings: "liga" off;
  line-height: 1;
  letter-spacing: -0.56px;
}

@media screen and (min-width: 768px) {
  .title {
    font-size: 44px;
    letter-spacing: -0.88px;
  }
}
