.list {
  display: none;
}
@media screen and (min-width: 1440px) {
  .list {
    display: flex;
    row-gap: 32px;
    align-items: center;
    column-gap: 30px;
    display: flex;
  }
}
.list.column {
  display: flex;
  align-items: center;
  row-gap: 32px;
}
@media screen and (min-width: 768px) {
  .list.column {
    row-gap: 40px;
  }
}
@media screen and (min-width: 1440px) {
  .list.column {
    display: none;
  }
}
.link {
  color: var(--main-color-dark);
  display: inline-block;
  font-size: var(--fs-md);
  font-weight: 500;
  line-height: var(--lh-700);
  text-decoration: none;
  transition: color 150ms;
}
.column .link {
  font-size: var(--fs-lg);
  line-height: var(--lh-100);
  letter-spacing: -0.36px;
}
@media screen and (min-width: 768px) {
  .column .link {
    font-size: var(--fs-xl);
    letter-spacing: -0.48px;
  }
}
.link:last-child {
  display: flex;
  column-gap: 8px;
  align-items: center;
}
.link:hover {
  color: var(--hover-green);
  /* font-weight: 600; */
  text-shadow: 0.4px 0px 0px var(--hover-green);
}
.column .link:hover {
  color: var(--hover-green);
  /* font-weight: 600; */
  text-shadow: none;
}
.link:hover .search-icon {
  stroke: var(--hover-green);
}

.search-icon {
  width: 20px;
  height: 20px;
  fill: transparent;
  stroke: var(--main-color-dark);
  transition: stroke 150ms;
}
@media screen and (min-width: 768px) {
  .search-icon {
    width: 24px;
    height: 24px;
  }
}

.column {
  flex-direction: column;
}
