.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 200;
}

.ModalWindow {
  position: relative;
  background-color: #fafafa;
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0px 4px 48px rgba(0, 0, 0, 0.1);
  border-radius: 24px;
}
.UserContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: var(--main-color-light);
  padding: 25px 12px;
}
@media (min-width: 478px) {
  padding: 50px 40px;
}

.ModalForm {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.ClsBtn {
  border: none;
  width: 12px;
  height: 12px;
  position: absolute;
  top: 18px;
  right: 18px;
  cursor: pointer;
  background-color: transparent;
  background: var(--main-color-light);
  color: var(--main-color-dark);
}
@media (min-width: 478px) {
  width: 14px;
  height: 14px;
  top: 24px;
  right: 24px;
}

.PictureIcon {
  width: 47px;
  height: 47px;
}

.UserAvatar {
  height: 103px;
  width: 103px;
  background-color: rgba(217, 217, 217, 1);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

  margin-bottom: 50px;
}
@media (min-width: 478px) {
  margin-bottom: 52px;
}

.ModalForm {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.AddAvatarIcon {
  position: absolute;
  top: 102px;
  left: 172px;
  width: 24px;
  height: 24px;
  fill: #8baa36;
  stroke: #fafafa;
  cursor: pointer;
}
@media (min-width: 478px) {
  top: 131px;
  left: 258px;
  fill: #8baa36;
  stroke: #fafafa;
}

.FilesInput {
  display: none;
}

.UserNameLabel {
  position: relative;
}
.UserNameInput {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: -0.02em;
  width: 282px;
  height: 48px;
  border: 1px solid #afafaf;
  border-radius: 4px;
  padding-left: 39px;
  padding-right: 42px;
  opacity: 0.8;
  margin-bottom: 24px;
  color: #23262a;
  transition-property: border-color;
  transition-duration: 500ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media (min-width: 478px) {
  width: 400px;
  height: 58px;
  padding-left: 51px;
  margin-bottom: 32px;
  font-size: 18px;
  line-height: 27px;
}

.Pencil {
  position: absolute;
  width: 17px;
  height: 17px;
  left: 251px;
  top: 15px;
  stroke: black;
  stroke-width: 1;
  stroke: black;
  fill: var(--main-color-dark);
}
@media (min-width: 478px) {
  top: 20px;
  width: 19px;
  height: 19px;
  left: 363px;
  width: 18px;
  height: 18px;
}

.User {
  width: 18px;
  height: 18px;
  position: absolute;
  top: 15px;
  left: 15px;
  right: 100px;
  stroke: black;
  fill: var(--user-color-dark);
}
@media (min-width: 478px) {
  width: 24px;
  height: 24px;
  left: 19px;
  top: 17px;
}

.SubmitBtn {
  padding-top: 14px;
  padding-bottom: 14px;
  font-family: "Poppins";
  border: none;
  background-color: #8baa36;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fafafa;
  border-radius: 6px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  transition-property: color;
  transition-duration: 500ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  width: 282px;
}
@media (min-width: 478px) {
  padding-top: 18px;
  padding-bottom: 18px;
  font-size: 16px;
  line-height: 18px;
  width: 400px;
}
.SubmitBtn:hover {
  color: #dad6d6;
  background-color: rgba(34, 37, 42, 1);
}

.CloseIcon {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 24px;
  height: 24px;
  stroke: var(--main-color-dark);
}
