.rights {
  color: var(--main-color-dark);
  font-family: Poppins;
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: 10px;
  letter-spacing: -0.1px;
  opacity: 0.5;
}
.terms {
  color: var(--main-color-dark);
  font-family: Poppins;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 10px;
  letter-spacing: -0.1px;
  opacity: 0.5;
}
.wrapper {
  display: flex;
  justify-content: center;
  gap: 14px;
  margin-bottom: 28px;
}
@media (min-width: 780px) {
  .rights {
    font-size: 14px;
    line-height: 14px;
    letter-spacing: -0.14px;
  }
  .terms {
    font-size: 14px;
    line-height: 14px;
    letter-spacing: -0.14px;
  }
  .wrapper {
    gap: 28px;
    margin-bottom: 32px;
  }
}
@media (min-width: 1200px) {
  .wrapper {
    gap: 40px;
    margin-bottom: 50px;
  }
}
