.container {
  background-image: url("../../images/mobile/bg-welcome.jpg");
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  height: 100vh;
  padding: 0 35px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url("../../images/mobile/bg-welcome-2x.jpg");
  }
}

.backgroundImage {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}
.content {
  position: relative;
  align-items: center;
  align-self: center;
  display: flex;
  margin-top: 28px;
  width: 540px;
  max-width: 100%;
  flex-direction: column;
}
.logoContainer {
  width: 54px;
  height: 54px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  background-color: var(--accent-color-darker);
}
.logo {
  width: 100%;
  height: 100%;
  fill: var(--accent-color-darker);
  stroke: var(--main-color-light);
}
.title {
  color: var(--text-color-lighter);
  font-feature-settings: "liga" off;
  align-self: center;
  text-wrap: nowrap;
  font-weight: 600;
  font-size: var(--fs-xl);
  line-height: 1;
  letter-spacing: -0.02em;
  margin-bottom: 14px;
  font-family: "Poppins", sans-serif;
}

.description {
  margin-bottom: 44px;
  max-width: 305px;
  font-size: var(--fs-md);
  line-height: 1.29;
  text-align: center;
  letter-spacing: -0.02em;
  color: var(--text-color-lighter);
  font-family: "Poppins", sans-serif;
}

@media screen and (min-width: 768px) {
  .title {
    font-size: var(--fs-2xl);
    margin-bottom: 14px;
    line-height: 28px;
  }
  .description {
    font-size: var(--fs-lg);
    margin-bottom: 40px;
    max-width: 505px;
    line-height: 24px;
  }
  .logoContainer {
    width: 68px;
    height: 68px;
  }
  .content {
    margin-top: 44px;
  }

  .container {
    background-image: url("../../images/tablet/bg-welcome.jpg");

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url("../../images/tablet/bg-welcome-2x.jpg");
    }
  }
}

@media screen and (min-width: 1440px) {
  .title {
    line-height: 28px;
  }

  .description {
    max-width: 540px;
    line-height: 24px;
    font-size: var(--fs-lg);
  }
  .container {
    background-image: url("../../images/desktop/bg-welcome.jpg");

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url("../../images/desktop/bg-welcome-2x.jpg");
    }
  }
}
