.container {
  background-image:url("../../images/mobile/bg-welcome.jpg");
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  height: 100vh;
  padding: 0 35px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
    & {
      background-image: url("../../images/mobile/bg-welcome-2x.jpg");
    }

  }

  @media screen and (min-width: 376px) {
      background-image: url("../../images/tablet/bg-welcome.jpg");

      @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
        & {
          background-image: url("../../images/tablet/bg-welcome-2x.jpg");
        }
      }
    }

  @media screen and (min-width: 769px) {
      background-image: url("../../images/desktop/bg-welcome.jpg");


      @media (min-device-pixel-ratio: 2),
          (min-resolution: 192dpi),
          (min-resolution: 2dppx) {
            & {
              background-image: url("../../images/desktop/bg-welcome-2x.jpg");
            }
          }
        }
      }


.backgroundImage {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.logoContainer {
  width: 54px;
    height: 54px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
  background-color: var(--accent-color-darker);
  }
  @media screen and (min-width: 768px) {
    .logoContainer {
    width: 68px;
    height: 68px;
    }
  }
  .logo {
    width: 100%;
    height: 100%;
    fill: #8baa36;
    stroke: #fafafa;
  }

.content {
  position: relative;
  align-items: center;
  align-self: center;
  display: flex;
  margin-top: 47px;
  width: 540px;
  max-width: 100%;
  flex-direction: column;

  @media (max-width: 991px) {
    margin-top: 28px;
  }
}

.title {
color: var(--text-color-lighter);
    font-feature-settings: "liga" off;
    letter-spacing: -2%;
    align-self: center;
    text-wrap: nowrap;
    font: 600 28px/100% Poppins, -apple-system, Roboto, Helvetica, sans-serif;

    @media screen and (min-width: 768px) {
      font-size: var(--fs-2xl);
      margin-bottom: 18px;
    }
  }

.description {
  /* color: --text-color-lighter; */
  color: var(--text-color-lighter);
    margin-bottom: 44px;
      max-width: 305px;
      text-align: center;
      letter-spacing: -2%;
      margin-top: 14px;
      font: 400 18px/133.333% Poppins, -apple-system, Roboto, Helvetica, sans-serif;


         @media screen and (min-width: 768px) {
           margin-bottom: 40px;
           width: 540px;
           max-width: 540px;
           font-size: var(--fs-lg);
           line-height: var(--lh-600);
}
}
