.containerMain {
  background-color: var(--main-color-dark);
  width: 100vw;
  margin-bottom: 28px;
}
.containerContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 28px 85px 18px;
}

@media screen and (min-width: 768px) {
  .containerMain {
    margin-bottom: 32px;
  }
  .containerContent {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    padding: 50px 94px 24px 32px;
  }
}

@media screen and (min-width: 1440px) {
  .containerMain {
    margin-bottom: 50px;
  }
  .containerContent {
    max-width: 1440px;
    justify-content: center;
    padding: 64px 100px 50px;
  }
}
