.containerContentBg {
  background-color: var(--main-color-dark);
  display: flex;
  justify-content: center;
  width: 100vw;
}
.containerContent {
  max-width: 1440px;
  display: flex;
  justify-content: center;
  padding: 64px 100px 50px;
}
.containerNavAndMedia {
  display: flex;
  flex-direction: column;
  margin-right: 214px;
}
.containerRights {
  background-color: var(--text-color-lighter);
  max-width: 1440px;
}
