.section {
  min-height: 100vh;
  background-image: url("../../images/mobile/bg-register-dark.png");
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: 100% 490px;

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    & {
      background-image: url("../../images/mobile/bg-register-dark-2x.png");
    }
  }
}

.container {
  width: 335px;
  height: 315px;
  padding: 32px 28px;
  background-color: rgb(42, 44, 54);
  border-radius: 30px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 48px;
  display: flex;
  position: absolute;
  top: 70%;
  left: 50%;
  flex-direction: column;
  align-items: center;
  transform: translate(-50%, -50%);
  z-index: 1;
}

@media screen and (min-width: 768px) {
  .section {
    background-image: url("../../images/tablet/bg-register-dark.png");
    background-size: 100% 606px;

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      & {
        background-image: url("../../images/tablet/bg-register-dark-2x.png");
      }
    }
  }

  .container {
    width: 500px;
    height: 419px;
    display: flex;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 44px 28px;
  }
}

@media screen and (min-width: 1440px) {
  .section {
    background-image: url("../../images/desktop/bg-register-dark.png");
    background-size: 100% 325px;
    /* display: flex;
    align-items: flex-end; */

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      & {
        background-image: url("../../images/desktop/bg-register-dark-2x.png");
      }
    }
  }
}
/* .container {
    /* flex-direction: row;
    bottom: 21vh;
    width: 500px;
    height: 484px; */
