@import-normalize;

:root {
  --accent-color-darker: #8baa36;
  --accent-color-lighter: #ebf3d4;
  --main-color-light: #ececec;
  --main-color-dark: #22252a;
  --background-color-light: #f5f5f5;
  --background-color-lighter: #fff;
  --section-title-color: #001833;
  --subtitle-color: #3e4462;
  --text-color-lighter: #fafafa;
  --text-color-darker: #d9d9d9;
  --description-color: #23262a;
}

body {
  background-color: var(--main-color-light);
  margin: 0;
  font-family: "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
p {
  margin: 0;
}
