@import-normalize;

:root {
  /* COLORS */
  --accent-color-darker: #8baa36;
  --accent-color-lighter: #ebf3d4;
  --main-color-light: #fafafa;
  --main-color-dark: #22252a;
  --background-color-light: #f5f5f5;
  --background-color-lighter: #fff;
  --section-title-color: #001833;
  --subtitle-color: #3e4462;
  --text-color-lighter: #fafafa;
  --text-color-darker: #d9d9d9;
  --description-color: #23262a;
  --register-color-light: #fafafa;
  --signin-color-light: #fafafa;
  --signin-color-lighter: #fff;
  --auth-border-hover: #fafafa;

  --logo-main: #8baa36;
  --logo-stroke: #fafafa;
  --logo-main-revert: #ebf3d4;
  --logo-stroke-revert: #8baa36;

  --hover-green: #8baa36;

  --error-warning: #f6c23e;
  --error-success: #3cbc81;
  --error-invalid: #e74a3b;

  --main-logo: #22252a;
  --main-logo-accent: #8baa36;

  --hero-tag-bg: #fafafa;
  --hero-tag-accent: #8baa36;
  --hero-tag-text: #3e4462;
  --hero-name-unique: #79991f;

  --add-recipe-input: #00000080;
  --add-recipe-input-bg: #d9d9d9;
  --add-recipe-select-option-bg: #fff;

  --Ingredient-check-icon: #8baa36;

  --delete-secondary-bg: #8baa36;
  --delete-secondary-stroke: #fafafa;
  --delete-secondary-hover-bg: var(--delete-primary-bg);
  --delete-secondary-hover-stroke: var(--delete-primary-stroke);
  --delete-primary-bg: #ebf3d4;
  --delete-primary-stroke: #22252a;
  --delete-primary-hover-bg: var(--delete-secondary-bg);
  --delete-primary-hover-stroke: var(--delete-secondary-stroke);

  --recipe-header-black: #23262a;
  --recipe-header-button-hover: #fafafa;
  --recipe-sentence: #000000cc;

  --footer-bg: #22252a;
  --footer-link-hover: #8baa36;

  /* INPUT STATE COLOR */
  --white-color: #ffffff;
  --ocean-green-color: #3cbc81;
  --cinnabar-color: #e74a3b;
  --saffron-color: #f6c23e;
  --mobile-nav-bg: #ebf3d4;

  /* BUTTON */
  --button-bg: #8baa36;
  --button-bg-hover: #22252a;
  --button-color: #fafafa;
  --button-dark-bg: #22252a;
  --button-dark-bg-hover: #8baa36;

  --button-secondary-hover-bg: #8baa36;
  --button-secondary-hover-color: #22252a;

  /* FONTS */
  --font-family: "Poppins", sans-serif;

  /* Font size */
  --fs-8xl: 6.25rem; /* 100px */
  --fs-7xl: 4.5rem; /* 72px */
  --fs-6xl: 3.75rem; /* 60px */
  --fs-5xl: 2.75rem; /* 44px */
  --fs-4xl: 2rem; /* 32px */
  --fs-3xl: 1.875rem; /* 30px */
  --fs-2xl: 1.75rem; /* 28px */
  --fs-xl: 1.5rem; /* 24px */
  --fs-lg: 1.125rem; /* 18px */
  --fs-base: 1rem; /* 16px */
  --fs-md: 0.875rem; /* 14px */
  --fs-sm: 0.625rem; /* 10px */

  /* Line height. */
  --lh-800: 1.7;
  --lh-700: 1.6;
  --lh-600: 1.33;
  --lh-550: 1.28;
  --lh-500: 1.25;
  --lh-400: normal;
  --lh-350: 1.16;
  --lh-300: 1.12;
  --lh-200: 1.07;
  --lh-100: 1;
}
/* THEME IN PROGRESS */

:root [data-theme="dark"] {
  /* COLORS */
  --accent-color-darker: #8baa36;
  --accent-color-lighter: #1e1f28;
  --main-color-light: #22252a;
  --main-color-dark: #fafafa;
  --background-color-light: #f5f5f5;
  --background-color-lighter: #2a2c36;
  --section-title-color: #fafafa;
  --subtitle-color: #fafafa;
  --text-color-lighter: #fafafa;
  --text-color-darker: #d9d9d9;
  --description-color: rgba(250, 250, 250, 0.6);
  --user-color-dark: rgba(220, 215, 215);
  --register-color-light: #fafafa;
  --signin-color-light: #fafafa;
  --signin-color-lighter: #fff;

  /* BUTTON */
  --button-bg: #8baa36;
  --button-bg-hover: #22252a;
  --button-border: 1px solid #8baa36;
  --button-color: #fafafa;
  --button-dark-bg: #8baa36;
  --button-dark-bg-hover: #22252a;

  --button-secondary-hover-bg: #1e1f28;
  --button-secondary-hover-color: #8baa36;

  --delete-secondary-bg: #1e1f28;
  --delete-secondary-stroke: #fafafa;
  --delete-secondary-hover-bg: #8baa36;
  --delete-secondary-hover-stroke: #fafafa;
  --delete-primary-bg: #1e1f28;
  --delete-primary-stroke: #fafafa;
  --delete-primary-hover-bg: #8baa36;
  --delete-primary-hover-stroke: #fafafa;

  --mobile-nav-bg: #1e1f28;

  --main-logo: #fafafa;

  --hero-tag-bg: #2a2c36;
  --hero-tag-text: #fafafa;
  --hero-name-unique: #79991f;

  --add-recipe-input: #fafafa;
  --add-recipe-input-bg: #1e1f28;
  --add-recipe-select-option-bg: #8baa36;

  --recipe-sentence: #fafafa;

  --footer-bg: #8baa36;
  --footer-link-hover: #2a2c36;
}

body {
  background-color: var(--main-color-light);
  margin: 0;
  font-family: var(--font-family);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.main-loader {
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

/* ERRORS */
.error {
  margin-top: 8px;
  font-size: 12px;
  color: var(--error-invalid);
}
@media screen and (min-width: 768px) {
  .error {
    font-size: 14px;
  }
}
.error-warning {
  margin-top: 8px;
  font-size: 12px;
  color: var(--error-warning);
}
@media screen and (min-width: 768px) {
  .error-warning {
    font-size: 14px;
  }
}
.successs {
  margin-top: 8px;
  font-size: 12px;
  color: var(--error-success);
}
@media screen and (min-width: 768px) {
  .successs {
    font-size: 14px;
  }
}

/* RESET */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}
ul,
p {
  list-style: none;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-inline-start: 0;
  margin-block-start: 0;
  margin-block-end: 0;
}

ul {
  list-style: none;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-inline-start: 0;
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
}

input,
button,
textarea,
select {
  font: inherit;
}

img,
picture {
  max-width: 100%;
  display: block;
}
