.navList {
  list-style: none;
  padding-inline-start: 0;
  margin-block-end: 32px;
  margin-block-start: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.navItem:not(:last-child) {
  margin-bottom: 14px;
}
.navItem {
}

.navLink {
  color: var(--text-color-lighter);
  font-family: var(--font-family);
  font-size: var(--fs-md);
  font-style: normal;
  font-weight: 500;
  line-height: 18px; /* 128.571% */
  letter-spacing: -0.28px;
  text-decoration: none;
}
@media screen and (min-width: 768px) {
}

@media screen and (min-width: 1440px) {
  .navList {
    list-style: none;
    padding-inline-start: 0;
    width: 89px;
  }
  .navItem:not(:last-child) {
    margin-bottom: 24px;
  }
  .navItem {
  }

  .navLink {
    color: var(--text-color-lighter);
    font-family: var(--font-family);
    font-size: var(--fs-md);
    font-style: normal;
    font-weight: 500;
    line-height: 18px; /* 128.571% */
    letter-spacing: -0.28px;
    text-decoration: none;
  }
}
