.container {
  display: block;
  width: 375px;
}

.section {
  display: flex;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    width: 1440px;
  }
}
