.title {
  color: var(--subtitle-color);
  font-size: 24px;
  font-weight: 700;
  line-height: 1;
}

.text_area {
  background-color: var(--add-recipe-input-bg);
  border: none;
  border-radius: 6px;
  cursor: pointer;
  height: 154px;
  overflow: scroll;
  overflow-x: hidden;
  padding: 16px;
  margin-bottom: 18px;
  margin-top: 24px;
  scrollbar-color: #969595;
  width: 343px;
  color: var(--add-recipe-input);
}

.text_area:focus,
.text_area:hover {
  outline: none;
}

.text_area::placeholder {
  color: var(--add-recipe-input);
  font-size: 14px;
}

@media screen and (min-width: 768px) {
  .text_area {
    height: 224px;
    padding: 22px;
    margin-bottom: 32px;
    margin-top: 32px;
    width: 505px;
  }

  .text_area::placeholder {
    font-size: 18px;
  }
}

@media screen and (min-width: 1440px) {
  .text_area {
    height: 280px;
  }
}
